@charset 'utf-8';
body{
	margin: 0;
}
article,aside,footer,header,nav,section{
	display: block;
}
h1{
	font-size: 2em;
	margin: .67em 0;
}
figcaption,figure,main{
	display: block;
}
figure{
	margin: 1em 40px;
}
hr{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre{
	font-family: monospace,monospace;
	font-size: 1em;
}
a{
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:active,a:hover{
	outline-width: 0;
}
abbr[title]{
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration:underline dotted;
	text-decoration: underline dotted;
}
b,strong{
	font-weight: inherit;
}
b,strong{
	font-weight: bolder;
}
code,kbd,samp{
	font-family: monospace,monospace;
	font-size: 1em;
}
dfn{
	font-style: italic;
}
mark{
	background-color: #ff0;
	color: #000;
}
small{
	font-size: 80%;
}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub{
	bottom: -.25em;
}
sup{
	top: -.5em;
}
audio,video{
	display: inline-block;
}
audio:not([controls]){
	display: none;
	height: 0;
}
img{
	border-style: none;
}
svg:not(:root){
	overflow: hidden;
}
button,input,optgroup,select,textarea{
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,input{
	overflow: visible;
}
button,select{
	text-transform: none;
}[type=reset],[type=submit],button,html[type=button]{
	-webkit-appearance: button;
}[type=button]::-moz-focus-inner,[type=reset]::-moz-focusz-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
	border-style: none;
	padding: 0;
}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
	outline: 1px dotted ButtonText;
}
fieldset{
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto;
	resize: vertical
}[type=checkbox],[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto
}[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

template {
	display: none
}[hidden] {
	display: none
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent
}

:after,:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #515a6e;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

article,aside,blockquote,body,button,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,section,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

button,input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

input::-ms-clear,input::-ms-reveal {
	display: none
}

a {
	color: #2d8cf0;
	background: 0 0;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	-webkit-transition: color .2s ease;
	transition: color .2s ease
}

a:hover {
	color: #57a3f3
}

a:active {
	color: #2b85e4
}

a:active,a:hover {
	outline: 0;
	text-decoration: none
}
a[disabled] {
	color: #ccc;
	cursor: not-allowed;
	pointer-events: none
}

code,kbd,pre,samp {
	font-family: Consolas,Menlo,Courier,monospace
}

@font-face {
	font-family:Ionicons;src:url(fonts/ionicons.ttf?v=3.0.0) format("truetype"),url(fonts/ionicons.woff?v=3.0.0) format("woff"),url(fonts/ionicons.svg?v=3.0.0#Ionicons) format("svg");font-weight:400;font-style:normal
}
/*按钮*/
.r-btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	line-height: 1.5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 5px 15px 6px;
	font-size: 12px;
	border-radius: 4px;
	-webkit-transition: color .2s linear,background-color .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
	transition: color .2s linear,background-color .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
	transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
	transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear,-webkit-box-shadow .2s linear;
	color: #515a6e;
	background-color: #fff;
	border-color: #dcdee2;
}
.r-btn>.r-icon{
	line-height: 1.5;
	vertical-align: middle;
}
.r-btn-large{
	padding: 6px 15px 6px 15px;
	font-size: 14px;
	border-radius: 4px;
}
.r-btn-small{
	padding: 1px 7px 2px;
	font-size: 12px;
	border-radius: 3px;
}
.r-btn-icon-only{
	padding: 5px 15px 6px;
	font-size: 12px;
	border-radius: 4px;
}
.r-btn:hover{
	color: #747b8b;
	background-color: #fff;
	border-color: #e3e5e8;
}
.r-btn.active,.r-btn:active{
	color: #4d5669;
	background-color: #fff;
	border-color: #f2f2f2;
}
.r-btn:focus{
	-webkit-box-shadow: 0 0 0 2px rgba(45,140,240,.2);
	box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}
.r-btn-long{
	width: 100%;
}
.r-btn-primary{
	color: #fff;
	background-color: #2d8cf0;
	border-color: #2d8cf0;
}
.r-btn-priamry:hover{
	color: #fff;
	background-color: #57a3f3;
	border-color: #57a3f3;
}
.r-btn-primary.active,.r-btn-primary:active{
	color: #f2f2f2;
	background-color: #2b85e4;
	border-color: #2b85e4;
}
/*布局*/
.r-layout{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
	background: #f5f7f9;
}
.r-layout.r-layout-has-sider{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.r-layout.r-layout-has-sider>.r-layout,.r-layout.r-layout-has-sider>.r-layout-content {
	overflow-x: hidden
}

.r-layout-footer,.r-layout-header {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.r-layout-header {
	background: #515a6e;
	padding: 0 50px;
	height: 64px;
	line-height: 64px
}

.r-layout-sider {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	background: #515a6e;
	min-width: 0
}

.r-layout-sider-children {
	height: 100%;
	padding-top: .1px;
	margin-top: -.1px
}

.r-layout-sider-has-trigger {
	padding-bottom: 48px
}

.r-layout-sider-trigger {
	position: fixed;
	bottom: 0;
	text-align: center;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	color: #fff;
	background: #515a6e;
	z-index: 1000;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.r-layout-sider-trigger .r-icon {
	font-size: 16px
}

.r-layout-sider-trigger>* {
	-webkit-transition: all .2s;
	transition: all .2s
}

.r-layout-sider-trigger-collapsed .r-layout-sider-trigger-icon {
	-webkit-transform: rotateZ(180deg);
	-ms-transform: rotate(180deg);
	transform: rotateZ(180deg)
}

.r-layout-sider-zero-width>* {
	overflow: hidden
}

.r-layout-sider-zero-width-trigger {
	position: absolute;
	top: 64px;
	right: -36px;
	text-align: center;
	width: 36px;
	height: 42px;
	line-height: 42px;
	background: #515a6e;
	color: #fff;
	font-size: 18px;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
	-webkit-transition: background .3s ease;
	transition: background .3s ease
}

.r-layout-sider-zero-width-trigger:hover {
	background: #626b7d
}

.r-layout-sider-zero-width-trigger.r-layout-sider-zero-width-trigger-left {
	right: 0;
	left: -36px;
	border-radius: 6px 0 0 6px
}

.r-layout-footer {
	background: #f5f7f9;
	padding: 24px 50px;
	color: #515a6e;
	font-size: 14px
}

.r-layout-content {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto
}
/*面包屑导航*/
.r-breadcrumb {
	color: #999;
	font-size: 14px
}

.r-breadcrumb a {
	color: #515a6e;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out
}

.r-breadcrumb a:hover {
	color: #57a3f3
}

.r-breadcrumb>span:last-child {
	font-weight: 700;
	color: #515a6e
}

.r-breadcrumb>span:last-child .r-breadcrumb-item-separator {
	display: none
}

.r-breadcrumb-item-separator {
	margin: 0 8px;
	color: #dcdee2
}

.r-breadcrumb-item-link>.r-icon+span {
	margin-left: 4px
}html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
/*下拉菜单*/
.r-dropdown {
	display: inline-block
}

.r-dropdown .r-select-dropdown {
	overflow: visible;
	max-height: none
}

.r-dropdown .r-dropdown {
	width: 100%
}

.r-dropdown-rel {
	position: relative
}

.r-dropdown-rel-user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.r-dropdown-menu {
	min-width: 100px
}

.r-dropdown-transfer {
	width: auto
}

.r-dropdown-item-selected,.r-dropdown-item.r-dropdown-item-selected:hover {
	background: #f0faff
}

.r-dropdown-item {
	margin: 0;
	line-height: normal;
	padding: 7px 16px;
	clear: both;
	color: #515a6e;
	font-size: 12px!important;
	white-space: nowrap;
	list-style: none;
	cursor: pointer;
	-webkit-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out
}

.r-dropdown-item:hover {
	background: #f3f3f3
}

.r-dropdown-item-focus {
	background: #f3f3f3
}

.r-dropdown-item-disabled {
	color: #c5c8ce;
	cursor: not-allowed
}

.r-dropdown-item-disabled:hover {
	color: #c5c8ce;
	background-color: #fff;
	cursor: not-allowed
}

.r-dropdown-item-selected,.r-dropdown-item-selected:hover {
	color: #2d8cf0
}

.r-dropdown-item-divided {
	margin-top: 5px;
	border-top: 1px solid #e8eaec
}

.r-dropdown-item-divided:before {
	content: '';
	height: 5px;
	display: block;
	margin: 0 -16px;
	background-color: #fff;
	position: relative;
	top: -7px
}

.r-dropdown-large .r-dropdown-item {
	padding: 7px 16px 8px;
	font-size: 14px!important
}

@-moz-document url-prefix() {
	.r-dropdown-item {
		white-space: normal
	}
}
/*徽标*/
.r-badge {
	position: relative;
	display: inline-block
}

.r-badge-count {
	font-family: "Monospaced Number";
	line-height: 1;
	vertical-align: middle;
	position: absolute;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	top: -10px;
	right: 0;
	height: 20px;
	border-radius: 10px;
	min-width: 20px;
	background: #ed4014;
	border: 1px solid transparent;
	color: #fff;
	line-height: 18px;
	text-align: center;
	padding: 0 6px;
	font-size: 12px;
	white-space: nowrap;
	-webkit-transform-origin: -10% center;
	-ms-transform-origin: -10% center;
	transform-origin: -10% center;
	z-index: 10;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff
}

.r-badge-count a,.r-badge-count a:hover {
	color: #fff
}

.r-badge-count-alone {
	top: auto;
	display: block;
	position: relative;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}

.r-badge-count-primary {
	background: #2d8cf0
}

.r-badge-count-success {
	background: #19be6b
}

.r-badge-count-error {
	background: #ed4014
}

.r-badge-count-warning {
	background: #f90
}

.r-badge-count-info {
	background: #2db7f5
}

.r-badge-count-normal {
	background: #e6ebf1;
	color: #808695
}

.r-badge-dot {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transform-origin: 0 center;
	-ms-transform-origin: 0 center;
	transform-origin: 0 center;
	top: -4px;
	right: -8px;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: #ed4014;
	z-index: 10;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff
}

.r-badge-status {
	line-height: inherit;
	vertical-align: baseline
}

.r-badge-status-dot {
	width: 6px;
	height: 6px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	top: -1px
}

.r-badge-status-success {
	background-color: #19be6b
}

.r-badge-status-processing {
	background-color: #2d8cf0;
	position: relative
}

.r-badge-status-processing:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #2d8cf0;
	content: '';
	-webkit-animation: aniStatusProcessing 1.2s infinite ease-in-out;
	animation: aniStatusProcessing 1.2s infinite ease-in-out
}

.r-badge-status-default {
	background-color: #e6ebf1
}

.r-badge-status-error {
	background-color: #ed4014
}

.r-badge-status-warning {
	background-color: #f90
}

.r-badge-status-text {
	display: inline-block;
	color: #515a6e;
	font-size: 12px;
	margin-left: 6px
}
/*message*/
.r-message {
	font-size: 14px;
	position: fixed;
	z-index: 1010;
	width: 100%;
	top: 16px;
	left: 0;
	pointer-events: none
}

.r-message-notice {
	padding: 8px;
	text-align: center;
	-webkit-transition: height .3s ease-in-out,padding .3s ease-in-out;
	transition: height .3s ease-in-out,padding .3s ease-in-out
}

.r-message-notice:first-child {
	margin-top: -8px
}

.r-message-notice-close {
	position: absolute;
	right: 4px;
	top: 10px;
	color: #999;
	outline: 0
}

.r-message-notice-close i.r-icon {
	font-size: 22px;
	color: #999;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
	position: relative;
	top: -3px
}

.r-message-notice-close i.r-icon:hover {
	color: #444
}

.r-message-notice-content {
	display: inline-block;
	pointer-events: all;
	padding: 8px 16px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
	box-shadow: 0 1px 6px rgba(0,0,0,.2);
	background: #fff;
	position: relative
}

.r-message-notice-content-text {
	display: inline-block
}

.r-message-notice-closable .r-message-notice-content-text {
	padding-right: 32px
}

.r-message-success .r-icon {
	color: #19be6b
}

.r-message-error .r-icon {
	color: #ed4014
}

.r-message-warning .r-icon {
	color: #f90
}

.r-message-info .r-icon,.r-message-loading .r-icon {
	color: #2d8cf0
}

.r-message .r-icon {
	margin-right: 4px;
	font-size: 16px;
	vertical-align: middle
}

.r-message-custom-content span {
	vertical-align: middle
}